In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('C:/Users/human/2nd_project/경제/경제/한국은행 기준금리 및 여수신금리_21153020.csv')

In [8]:
df

,통계표,계정항목,단위,변환,2013/01/02,2013/01/03,2013/01/04,2013/01/07,2013/01/08,2013/01/09,...,2023/12/15,2023/12/18,2023/12/19,2023/12/20,2023/12/21,2023/12/22,2023/12/26,2023/12/27,2023/12/28,2023/12/29
0,1.3.1. 한국은행 기준금리 및 여수신금리,한국은행 기준금리,연%,원자료,2.75,2.75,2.75,2.75,2.75,2.75,...,3.500,3.500,3.500,3.500,3.500,3.500,3.500,3.500,3.500,3.500
1,1.3.1. 한국은행 기준금리 및 여수신금리,정부대출금금리,연%,원자료,2.89,2.89,2.89,2.89,2.89,2.89,...,3.706,3.706,3.706,3.706,3.706,3.706,3.706,3.706,3.706,3.706
2,1.3.1. 한국은행 기준금리 및 여수신금리,총액한도대출금리,연%,원자료,1.25,1.25,1.25,1.25,1.25,1.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.3.1. 한국은행 기준금리 및 여수신금리,결제자금지원한도 대출금리,연%,원자료,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.3.1. 한국은행 기준금리 및 여수신금리,무역금융지원 프로그램대출금리,연%,원자료,NaN,NaN,NaN,NaN,NaN,NaN,...,2.000,2.000,2.000,2.000,2.000,2.000,2.000,2.000,2.000,2.000
5,1.3.1. 한국은행 기준금리 및 여수신금리,신용대출지원 프로그램대출금리,연%,원자료,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1.3.1. 한국은행 기준금리 및 여수신금리,영세자영업자지원 프로그램대출금리,연%,원자료,NaN,NaN,NaN,NaN,NaN,NaN,...,2.000,2.000,2.000,2.000,2.000,2.000,2.000,2.000,2.000,2.000
7,1.3.1. 한국은행 기준금리 및 여수신금리,신성장·일자리지원 프로그램대출금리,연%,원자료,NaN,NaN,NaN,NaN,NaN,NaN,...,2.000,2.000,2.000,2.000,2.000,2.000,2.000,2.000,2.000,2.000
8,1.3.1. 한국은행 기준금리 및 여수신금리,설비투자지원 프로그램대출금리,연%,원자료,NaN,NaN,NaN,NaN,NaN,NaN,...,2.000,2.000,2.000,2.000,2.000,2.000,2.000,2.000,2.000,2.000
9,1.3.1. 한국은행 기준금리 및 여수신금리,지방중소기업지원 프로그램대출금리,연%,원자료,NaN,NaN,NaN,NaN,NaN,NaN,...,2.000,2.000,2.000,2.000,2.000,2.000,2.000,2.000,2.000,2.000
10,1.3.1. 한국은행 기준금리 및 여수신금리,자금조정 대출금리,연%,원자료,3.75,3.75,3.75,3.75,3.75,3.75,...,4.000,4.000,4.000,4.000,4.000,4.000,4.000,4.000,4.000,4.000
11,1.3.1. 한국은행 기준금리 및 여수신금리,자금조정 예금금리,연%,원자료,1.75,1.75,1.75,1.75,1.75,1.75,...,3.000,3.000,3.000,3.000,3.000,3.000,3.000,3.000,3.000,3.000

In [10]:
selected_rows = df.iloc[[0, 1]]

# 선택한 행 출력
selected_rows

,통계표,계정항목,단위,변환,2013/01/02,2013/01/03,2013/01/04,2013/01/07,2013/01/08,2013/01/09,...,2023/12/15,2023/12/18,2023/12/19,2023/12/20,2023/12/21,2023/12/22,2023/12/26,2023/12/27,2023/12/28,2023/12/29
0,1.3.1. 한국은행 기준금리 및 여수신금리,한국은행 기준금리,연%,원자료,2.75,2.75,2.75,2.75,2.75,2.75,...,3.500,3.500,3.500,3.500,3.500,3.500,3.500,3.500,3.500,3.500
1,1.3.1. 한국은행 기준금리 및 여수신금리,정부대출금금리,연%,원자료,2.89,2.89,2.89,2.89,2.89,2.89,...,3.706,3.706,3.706,3.706,3.706,3.706,3.706,3.706,3.706,3.706

In [12]:
# 예시 데이터프레임 df가 있을 때
df_transposed = selected_rows.T  # 또는 df.transpose()

df_transposed

                                   0                         1
통계표         1.3.1. 한국은행 기준금리 및 여수신금리  1.3.1. 한국은행 기준금리 및 여수신금리
계정항목                       한국은행 기준금리                   정부대출금금리
단위                                연%                        연%
변환                               원자료                       원자료
2013/01/02                      2.75                      2.89
...                              ...                       ...
2023/12/22                       3.5                     3.706
2023/12/26                       3.5                     3.706
2023/12/27                       3.5                     3.706
2023/12/28                       3.5                     3.706
2023/12/29                       3.5                     3.706

[2721 rows x 2 columns]