In [4]:
import pandas as pd

In [6]:
df = pd.read_csv('C:/Users/human/2nd_project/경제/작업 파일/3.Social_factors/서울시행정동별인구밀도2013-2023.csv', encoding='euc-kr')

In [7]:
df

,동별(2),동별(3),2013,2013.1,2013.2,2014,2014.1,2014.2,2015,2015.1,...,2020.2,2021,2021.1,2021.2,2022,2022.1,2022.2,2023,2023.1,2023.2
0,동별(2),동별(3),인구 (명),면적 (㎢),인구밀도 (명/㎢),인구 (명),면적 (㎢),인구밀도 (명/㎢),인구 (명),면적 (㎢),...,인구밀도 (명/㎢),인구 (명),면적 (㎢),인구밀도 (명/㎢),인구 (명),면적 (㎢),인구밀도 (명/㎢),인구 (명),면적 (㎢),인구밀도 (명/㎢)
1,소계,소계,10388055,605.2,17165,10369593,605.21,17134,10297138,605.25,...,16376,9736027,605.2439612,16086.12002,9667669,605.2081486,15974,9638799,605.20403,15927
2,종로구,소계,167867,23.91,7022,165344,23.91,6914,163822,23.91,...,6649,153789,23.9129357,6431.20535,152211,23.9131617,6365,150453,23.9132228,6292
3,종로구,사직동,10327,1.23,8396,10132,1.23,8237,10033,1.23,...,7972,9636,1.23,7834.146341,9355,1.23,7606,9273,1.23,7539
4,종로구,삼청동,3367,1.49,2260,3268,1.49,2193,3174,1.49,...,1952,2739,1.49,1838.255034,2642,1.49,1773,2457,1.49,1649
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456,강동구,천호2동,38032,1.57,24224,37226,1.57,23711,37065,1.57,...,22453,33753,1.57,21498.72611,33825,1.57,21545,33425,1.57,21290
457,강동구,길동,51469,2.17,23718,51521,2.17,23742,51720,2.17,...,21598,45973,1.61,28554.65839,45374,1.61,28183,45042,1.61,27976
458,강동구,강일동,-,-,-,-,-,-,-,-,...,-,32982,2.26,14593.80531,33057,2.26,14627,34283,2.26,15169
459,강동구,상일1동,-,-,-,-,-,-,-,-,...,-,38929,1.82,21389.56044,39178,1.82,21526,39440,1.82,21670
460,강동구,상일2동,-,-,-,-,-,-,-,-,...,-,10200,1.09,9357.79817,11933,1.09,10948,11786,1.09,10813

In [16]:
df = df[df['동별(3)'] !='소계']
df

,동별(2),동별(3),2013,2013.1,2013.2,2014,2014.1,2014.2,2015,2015.1,...,2020.2,2021,2021.1,2021.2,2022,2022.1,2022.2,2023,2023.1,2023.2
0,동별(2),동별(3),인구 (명),면적 (㎢),인구밀도 (명/㎢),인구 (명),면적 (㎢),인구밀도 (명/㎢),인구 (명),면적 (㎢),...,인구밀도 (명/㎢),인구 (명),면적 (㎢),인구밀도 (명/㎢),인구 (명),면적 (㎢),인구밀도 (명/㎢),인구 (명),면적 (㎢),인구밀도 (명/㎢)
3,종로구,사직동,10327,1.23,8396,10132,1.23,8237,10033,1.23,...,7972,9636,1.23,7834.146341,9355,1.23,7606,9273,1.23,7539
4,종로구,삼청동,3367,1.49,2260,3268,1.49,2193,3174,1.49,...,1952,2739,1.49,1838.255034,2642,1.49,1773,2457,1.49,1649
5,종로구,부암동,11469,2.27,5052,11356,2.27,5003,11217,2.27,...,4552,9782,2.27,4309.251101,9536,2.27,4201,9389,2.27,4136
6,종로구,평창동,19779,8.87,2230,19595,8.87,2209,19414,8.87,...,2095,18329,8.87,2066.403608,17858,8.87,2013,17578,8.87,1982
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456,강동구,천호2동,38032,1.57,24224,37226,1.57,23711,37065,1.57,...,22453,33753,1.57,21498.72611,33825,1.57,21545,33425,1.57,21290
457,강동구,길동,51469,2.17,23718,51521,2.17,23742,51720,2.17,...,21598,45973,1.61,28554.65839,45374,1.61,28183,45042,1.61,27976
458,강동구,강일동,-,-,-,-,-,-,-,-,...,-,32982,2.26,14593.80531,33057,2.26,14627,34283,2.26,15169
459,강동구,상일1동,-,-,-,-,-,-,-,-,...,-,38929,1.82,21389.56044,39178,1.82,21526,39440,1.82,21670
460,강동구,상일2동,-,-,-,-,-,-,-,-,...,-,10200,1.09,9357.79817,11933,1.09,10948,11786,1.09,10813

In [19]:
# 2019~2023년 열만 선택
columns_to_keep = ['동별(2)', '동별(3)'] + [col for col in df.columns if col.startswith(('2019', '2020', '2021', '2022', '2023'))]
df_2019_2023 = df[columns_to_keep]

# 결과 확인
df_2019_2023

,동별(2),동별(3),2019,2019.1,2019.2,2020,2020.1,2020.2,2021,2021.1,2021.2,2022,2022.1,2022.2,2023,2023.1,2023.2
0,동별(2),동별(3),인구 (명),면적 (㎢),인구밀도 (명/㎢),인구 (명),면적 (㎢),인구밀도 (명/㎢),인구 (명),면적 (㎢),인구밀도 (명/㎢),인구 (명),면적 (㎢),인구밀도 (명/㎢),인구 (명),면적 (㎢),인구밀도 (명/㎢)
3,종로구,사직동,9815,1.23,7980,9806,1.23,7972,9636,1.23,7834.146341,9355,1.23,7606,9273,1.23,7539
4,종로구,삼청동,2997,1.49,2011,2909,1.49,1952,2739,1.49,1838.255034,2642,1.49,1773,2457,1.49,1649
5,종로구,부암동,10551,2.27,4648,10333,2.27,4552,9782,2.27,4309.251101,9536,2.27,4201,9389,2.27,4136
6,종로구,평창동,18816,8.87,2121,18582,8.87,2095,18329,8.87,2066.403608,17858,8.87,2013,17578,8.87,1982
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456,강동구,천호2동,35904,1.57,22869,35251,1.57,22453,33753,1.57,21498.72611,33825,1.57,21545,33425,1.57,21290
457,강동구,길동,46367,2.17,21367,46868,2.17,21598,45973,1.61,28554.65839,45374,1.61,28183,45042,1.61,27976
458,강동구,강일동,-,-,-,-,-,-,32982,2.26,14593.80531,33057,2.26,14627,34283,2.26,15169
459,강동구,상일1동,-,-,-,-,-,-,38929,1.82,21389.56044,39178,1.82,21526,39440,1.82,21670
460,강동구,상일2동,-,-,-,-,-,-,10200,1.09,9357.79817,11933,1.09,10948,11786,1.09,10813

In [22]:
# 인구밀도 열만 선택
columns_to_extract = ['동별(2)','동별(3)', '2019.2', '2020.2', '2021.2', '2022.2', '2023.2']

# 필요한 열만 필터링
population_density_df = df[columns_to_extract]

population_density_df

     동별(2)  동별(3)      2019.2      2020.2       2021.2      2022.2      2023.2
0    동별(2)  동별(3)  인구밀도 (명/㎢)  인구밀도 (명/㎢)   인구밀도 (명/㎢)  인구밀도 (명/㎢)  인구밀도 (명/㎢)
3      종로구    사직동        7980        7972  7834.146341        7606        7539
4      종로구    삼청동        2011        1952  1838.255034        1773        1649
5      종로구    부암동        4648        4552  4309.251101        4201        4136
6      종로구    평창동        2121        2095  2066.403608        2013        1982
..     ...    ...         ...         ...          ...         ...         ...
456    강동구   천호2동       22869       22453  21498.72611       21545       21290
457    강동구     길동       21367       21598  28554.65839       28183       27976
458    강동구    강일동           -           -  14593.80531       14627       15169
459    강동구   상일1동           -           -  21389.56044       21526       21670
460    강동구   상일2동           -           -   9357.79817       10948       10813

[435 rows x 7 columns]