In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 맷플롯립 한글 사용 가능
import matplotlib.pyplot as plt
plt.rcParams['font.family'] ='Malgun Gothic'
plt.rcParams['axes.unicode_minus'] =False

In [52]:
sp_2015_df = pd.read_csv('../4.Public_transportation/Subway_Number_of_passengers2015.csv',
            encoding = 'CP949')
ss_df = pd.read_csv('Data_Preprocessing/4_seoul_stations.csv')
sp_2015_df.columns = ['month', 'line', 'station_name', 
                      'paid_boarding', 'free_boarding', 
                      'paid_alighting', 'free_alighting', 'data_date']
sp_2015_df.info(), ss_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5148 entries, 0 to 5147
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   month           5148 non-null   int64
 1   line            5148 non-null   object
 2   station_name    5148 non-null   object
 3   paid_boarding   5148 non-null   int64
 4   free_boarding   5148 non-null   int64
 5   paid_alighting  5148 non-null   int64
 6   free_alighting  5148 non-null   int64
 7   data_date       5148 non-null   int64
dtypes: int64(6), object(2)
memory usage: 321.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274 entries, 0 to 273
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   line          274 non-null    object
 1   station_name  274 non-null    object
 2   district      274 non-null    object
dtypes: object(3)
memory usage: 6.5+ KB

(None, None)

In [53]:
merged_df = pd.merge(sp_2015_df, ss_df, how="inner", on="station_name")
merged_df = merged_df[['month', 'line_x', 'station_name', 'paid_boarding', 'free_boarding',
                       'paid_alighting', 'free_alighting', 'district']]
merged_df.columns = ['month', 'line', 'station_name', 'paid_boarding', 'free_boarding',
                     'paid_alighting', 'free_alighting', 'district']
merged_df.info()
merged_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3258 entries, 0 to 3257
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   month           3258 non-null   int64
 1   line            3258 non-null   object
 2   station_name    3258 non-null   object
 3   paid_boarding   3258 non-null   int64
 4   free_boarding   3258 non-null   int64
 5   paid_alighting  3258 non-null   int64
 6   free_alighting  3258 non-null   int64
 7   district        3258 non-null   object
dtypes: int64(5), object(3)
memory usage: 203.8+ KB

,month,line,station_name,paid_boarding,free_boarding,paid_alighting,free_alighting,district
0,201512,1호선,종로5가,630988,276092,647340,266173,종로구
1,201512,1호선,제기동,305975,311257,300744,327630,동대문구
2,201512,1호선,신설동,403786,130091,391341,124825,동대문구
3,201512,1호선,신설동,403786,130091,391341,124825,동대문구
4,201512,1호선,동대문,377067,144125,452903,152712,종로구

In [ ]:
merged_df['total_boarding'] = merged_df['paid_boarding'] + merged_df['free_boarding']
merged_df['total_alighting'] = merged_df['paid_alighting'] + merged_df['free_alighting']

merged_df['paid_boarding_ratio'] = merged_df['paid_boarding'] / merged_df['total_boarding']
merged_df['free_boarding_ratio'] = merged_df['free_boarding'] / merged_df['total_boarding']
merged_df['paid_alighting_ratio'] = merged_df['paid_alighting'] / merged_df['total_alighting']
merged_df['free_alighting_ratio'] = merged_df['free_alighting'] / merged_df['total_alighting']

merged_df = merged_df[['month', 'district',
                       'paid_boarding', 'paid_boarding_ratio',
                       'free_boarding', 'free_boarding_ratio', 'total_boarding', 
                       'paid_alighting', 'paid_alighting_ratio',
                       'free_alighting', 'free_alighting_ratio', 'total_alighting']]

merged_df['month'] = pd.to_datetime(merged_df['month'], format='%Y%m')
merged_df['year'] = merged_df['month'].dt.year

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3258 entries, 0 to 3257
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   month                 3258 non-null   datetime64[ns]
 1   district              3258 non-null   object
 2   paid_boarding         3258 non-null   int64
 3   paid_boarding_ratio   3258 non-null   float64
 4   free_boarding         3258 non-null   int64
 5   free_boarding_ratio   3258 non-null   float64
 6   total_boarding        3258 non-null   int64
 7   paid_alighting        3258 non-null   int64
 8   paid_alighting_ratio  3194 non-null   float64
 9   free_alighting        3258 non-null   int64
 10  free_alighting_ratio  3194 non-null   float64
 11  total_alighting       3258 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(6), object(1)
memory usage: 305.6+ KB

(       month district  paid_boarding  paid_boarding_ratio  free_boarding  \
 0 2015-12-01      종로구         630988              0.69563         276092
 1 2015-12-01     동대문구         305975              0.49572         311257
 2 2015-12-01     동대문구         403786              0.75633         130091
 3 2015-12-01     동대문구         403786              0.75633         130091
 4 2015-12-01      종로구         377067              0.72347         144125

    free_boarding_ratio  total_boarding  paid_alighting  paid_alighting_ratio  \
 0              0.30437          907080          647340               0.70863
 1              0.50428          617232          300744               0.47861
 2              0.24367          533877          391341               0.75817
 3              0.24367          533877          391341               0.75817
 4              0.27653          521192          452903               0.74784

    free_alighting  free_alighting_ratio  total_alighting
 0          266173               0.29137           913513
 1          327630               0.52139           628374
 2          124825               0.24183           516166
 3          124825               0.24183           516166
 4          152712               0.25216           605615  ,
 None)

In [ ]:
grouped_by_month_df = merged_df.groupby(['month', 'district']).mean().reset_index()
grouped_by_year_df = merged_df.groupby('district').mean().reset_index()

# 지수 표기법 대신 일반 숫자로 표시 (소숫점 5자리까지)
pd.options.display.float_format = '{:.5f}'.format

grouped_by_month_df.head(), grouped_by_year_df.head()
# grouped_by_month_df.info(), grouped_by_year_df.info()

(       month district  paid_boarding  paid_boarding_ratio  free_boarding  \
 0 2015-01-01      강남구   751003.93750              0.87258    82954.62500
 1 2015-01-01      강동구   298884.87500              0.81054    66208.50000
 2 2015-01-01      강북구  1110438.00000              0.81925   244990.00000
 3 2015-01-01      강서구   322735.80000              0.84396    59271.70000
 4 2015-01-01      관악구  1275175.00000              0.84406   193742.50000

    free_boarding_ratio  total_boarding  paid_alighting  paid_alighting_ratio  \
 0              0.12742    833958.56250    778873.06250               0.87957
 1              0.18946    365093.37500    276646.37500               0.80462
 2              0.18075   1355428.00000   1073695.00000               0.81471
 3              0.15604    382007.50000    307928.40000               0.83829
 4              0.15594   1468917.50000   1227690.50000               0.83471

    free_alighting  free_alighting_ratio  total_alighting
 0     78874.00000               0.12043     857747.06250
 1     65074.50000               0.19538     341720.87500
 2    244184.00000               0.18529    1317879.00000
 3     58644.10000               0.16171     366572.50000
 4    195455.50000               0.16529    1423146.00000  ,
   district  paid_boarding  paid_boarding_ratio  free_boarding  \
 0      강남구   551502.37023              0.87067    66113.04962
 1      강동구   293314.39583              0.80596    66506.68750
 2      강북구  1145277.33333              0.82142   248802.66667
 3      강서구   317477.21094              0.85280    56682.82812
 4      관악구  1259354.58333              0.84226   194290.50000

    free_boarding_ratio  total_boarding  paid_alighting  paid_alighting_ratio  \
 0              0.12933    617615.41985    578725.34351               0.87747
 1              0.19404    359821.08333    269564.98958               0.79855
 2              0.17858   1394080.00000   1102829.91667               0.81589
 3              0.14720    374160.03906    298838.82031               0.84365
 4              0.15774   1453645.08333   1201946.33333               0.83095

    free_alighting  free_alighting_ratio  total_alighting
 0     63718.06107               0.12253     642443.40458
 1     65523.21875               0.20145     335088.20833
 2    248662.50000               0.18411    1351492.41667
 3     56084.60156               0.15635     354923.42188
 4    196720.58333               0.16905    1398666.91667  )