In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 맷플롯립 한글 사용 가능
import matplotlib.pyplot as plt
plt.rcParams['font.family'] ='Malgun Gothic'
plt.rcParams['axes.unicode_minus'] =False

In [22]:
origin_school = pd.read_csv('forDP/from_Jey_uniq_all_school.csv')
origin_hospital = pd.read_csv('forDP/from_Jey_uniq_hospital.csv')
was_mv_school = pd.read_csv('forDP/from_Jun_was_mv_school.csv')
was_mv_hospital = pd.read_csv('forDP/from_Jun_was_mv_hospital.csv')
was_mv_hospital2 = pd.read_csv('forDP/from_Jun_was_mv_hospital2.csv')

In [23]:
origin_hospital.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19972 entries, 0 to 19971
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   no         19972 non-null  object
 1   address    19972 non-null  object
 2   latitude   18817 non-null  float64
 3   longitude  18817 non-null  float64
dtypes: float64(2), object(2)
memory usage: 624.2+ KB

In [24]:
merged_school = pd.merge(origin_school, was_mv_school, how='outer', on='no')
merged_hospital = pd.merge(origin_hospital, was_mv_hospital, how='outer', on='no')

In [25]:
merged_hospital.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20106 entries, 0 to 20105
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   no           20106 non-null  object
 1   address_x    20106 non-null  object
 2   latitude_x   18897 non-null  float64
 3   longitude_x  18897 non-null  float64
 4   address_y    1995 non-null   object
 5   latitude_y   1966 non-null   float64
 6   longitude_y  1966 non-null   float64
dtypes: float64(4), object(3)
memory usage: 1.1+ MB

In [26]:
merged_hospital['latitude'] = merged_hospital['latitude_x'].fillna(merged_hospital['latitude_y'])
merged_hospital['longitude'] = merged_hospital['longitude_x'].fillna(merged_hospital['longitude_y'])
merged_school['latitude'] = merged_school['latitude_x'].fillna(merged_school['latitude_y'])
merged_school['longitude'] = merged_school['longitude_x'].fillna(merged_school['longitude_y'])

In [27]:
merged_hospital = merged_hospital[['no', 'address_x', 'latitude', 'longitude']]
merged_hospital.columns = ['hospital_name', 'address', 'latitude', 'longitude']
merged_school = merged_school[['no', 'address_x', 'latitude', 'longitude']]
merged_school.columns = ['school_name', 'address', 'latitude', 'longitude']

In [28]:
merged_hospital = pd.merge(merged_hospital, was_mv_hospital2, how='outer', on='hospital_name')
merged_hospital['latitude'] = merged_hospital['latitude_x'].fillna(merged_hospital['latitude_y'])
merged_hospital['longitude'] = merged_hospital['longitude_x'].fillna(merged_hospital['longitude_y'])
merged_hospital = merged_hospital[['hospital_name', 'address_x', 'latitude', 'longitude']]
merged_hospital.columns = ['hospital_name', 'address', 'latitude', 'longitude']

In [29]:
merged_hospital.info(), merged_school.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20110 entries, 0 to 20109
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   hospital_name  20110 non-null  object
 1   address        20110 non-null  object
 2   latitude       20110 non-null  float64
 3   longitude      20110 non-null  float64
dtypes: float64(2), object(2)
memory usage: 628.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1300 entries, 0 to 1299
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   school_name  1300 non-null   object
 1   address      1300 non-null   object
 2   latitude     1300 non-null   float64
 3   longitude    1300 non-null   float64
dtypes: float64(2), object(2)
memory usage: 40.8+ KB

(None, None)

In [30]:
print(merged_hospital.isna().sum(), merged_school.isna().sum())
print(merged_hospital.nunique(), merged_school.nunique())
merged_school[merged_school.duplicated(subset='school_name')]
print(merged_school[merged_school['school_name']=='가톨릭대학교'])
print(merged_school[merged_school['school_name']=='서울과학기술대학교'])
merged_school.drop(347, inplace=True)
merged_school.info()
merged_hospital.drop_duplicates(subset='address', inplace=True)
merged_hospital.info(), merged_school.info()

hospital_name    0
address          0
latitude         0
longitude        0
dtype: int64 school_name    0
address        0
latitude       0
longitude      0
dtype: int64
hospital_name    16470
address          19972
latitude         10408
longitude        10408
dtype: int64 school_name    1298
address        1300
latitude       1298
longitude      1298
dtype: int64
  school_name                   address   latitude   longitude
7      가톨릭대학교            서울 서초구 반포동 505  37.500080  127.005247
8      가톨릭대학교  서울 종로구 창경궁로 296-12(혜화동)   37.584901  127.004771
    school_name                    address   latitude   longitude
346   서울과학기술대학교   서울 노원구 공릉로 232 (공릉동 172)  37.633079  127.076795
347   서울과학기술대학교  서울시 노원구 공릉로 232 서울과학기술대학교  37.633079  127.076795
<class 'pandas.core.frame.DataFrame'>
Index: 1299 entries, 0 to 1299
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   school_name  1299 non-null   object
 1   address      1299 non-null   object
 2   latitude     1299 non-null   float64
 3   longitude    1299 non-null   float64
dtypes: float64(2), object(2)
memory usage: 50.7+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 19972 entries, 0 to 20109
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   hospital_name  19972 non-null  object
 1   address        19972 non-null  object
 2   latitude       19972 non-null  float64
 3   longitude      19972 non-null  float64
dtypes: float64(2), object(2)
memory usage: 780.2+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 1299 entries, 0 to 1299
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   school_name  1299 non-null   object
 1   address      1299 non-null   object
 2   latitude     1299 non-null   float64
 3   longitude    1299 non-null   float64
dtypes: float64(2), object(2)
memory usage: 50.7+ KB

(None, None)

In [ ]:
merged_school.to_csv('forDP/dp_school.csv', index=False, encoding='utf-8')
merged_hospital.to_csv('forDP/dp_hospital.csv', index=False, encoding='utf-8')