In [115]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 맷플롯립 한글 사용 가능
import matplotlib.pyplot as plt
plt.rcParams['font.family'] ='Malgun Gothic'
plt.rcParams['axes.unicode_minus'] =False

In [116]:
station_2015 = pd.read_csv('forDP/subway/station_list_2015.csv')
station_2016 = pd.read_csv('forDP/subway/station_list_2016.csv')
station_2017 = pd.read_csv('forDP/subway/station_list_2017.csv')
station_2018 = pd.read_csv('forDP/subway/station_list_2018.csv')
station_2019 = pd.read_csv('forDP/subway/station_list_2019.csv')
station_2020 = pd.read_csv('forDP/subway/station_list_2020.csv')
station_2021 = pd.read_csv('forDP/subway/station_list_2021.csv')
station_2022 = pd.read_csv('forDP/subway/station_list_2022.csv')
station_2023 = pd.read_csv('forDP/subway/station_list_2023.csv')
station_2024 = pd.read_csv('forDP/subway/station_list_2024.csv')

In [128]:
add_1_3_4_else = pd.read_csv('forDP/subway/주소1호선3호선4호선수인분당선경춘선경의중안선.csv', encoding = "CP949")
add_1_8 = pd.read_csv('forDP/subway/주소1호선-8호선.csv', encoding = "CP949")
add_1_9 = pd.read_csv('forDP/subway/주소1호선-9호선.csv', encoding = "CP949")
add_gcl = pd.read_csv('forDP/subway/주소경춘선.csv', encoding = "CP949")
add_bl = pd.read_csv('forDP/subway/주소분당선.csv', encoding = "CP949")
add_sbl = pd.read_csv('forDP/subway/주소수인분당.csv', encoding = "CP949")
add_ul = pd.read_csv('forDP/subway/주소우이신설.csv', encoding = "CP949")

In [129]:
print(add_1_3_4_else.columns, '\n')
print(add_1_8.columns, '\n')
print(add_1_9.columns, '\n')
print(add_gcl.columns, '\n')
print(add_bl.columns, '\n')
print(add_sbl.columns, '\n')
print(add_ul.columns, '\n')

Index(['line', 'name', 'city_and_gu', 'dong'], dtype='object')

Index(['line', 'name', 'city_and_gu', 'dong'], dtype='object')

Index(['line', 'name', 'city_and_gu', 'dong'], dtype='object')

Index(['철도운영기관명', '선명', '역명', '지번주소', '도로명주소'], dtype='object')

Index(['철도운영기관명', '선명', '역명', '지번주소', '도로명주소'], dtype='object')

Index(['철도운영기관명', '선명', '역명', '지번주소', '도로명주소'], dtype='object')

Index(['철도운영기관명', '선명', '역명', '지번주소', '도로명주소'], dtype='object')

In [130]:
add_1_3_4_else.info()
add_1_8.info()
add_1_9.info()
add_gcl.info()
add_bl.info()
add_sbl.info()
add_ul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   line         270 non-null    object
 1   name         270 non-null    object
 2   city_and_gu  270 non-null    object
 3   dong         161 non-null    object
dtypes: object(4)
memory usage: 8.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 277 entries, 0 to 276
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   line         277 non-null    object
 1   name         277 non-null    object
 2   city_and_gu  277 non-null    object
 3   dong         270 non-null    object
dtypes: object(4)
memory usage: 8.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289 entries, 0 to 288
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   line         289 non-null    object
 1   name         289 non-null    object
 2   city_and_gu  289 non-null    object
 3   dong         289 non-null    object
dtypes: object(4)
memory usage: 9.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   철도운영기관명  25 non-null     object
 1   선명       25 non-null     object
 2   역명       25 non-null     object
 3   지번주소     25 non-null     object
 4   도로명주소    25 non-null     object
dtypes: object(5)
memory usage: 1.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   철도운영기관명  63 non-null     object
 1   선명       63 non-null     object
 2   역명       63 non-null     object
 3   지번주소     63 non-null     object
 4   도로명주소    63 non-null     object
dtypes: object(5)
memory usage: 2.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   철도운영기관명  63 non-null     object
 1   선명       63 non-null     object
 2   역명       63 non-null     object
 3   지번주소     63 non-null     object
 4   도로명주소    63 non-null     object
dtypes: object(5)
memory usage: 2.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   철도운영기관명  13 non-null     object
 1   선명       13 non-null     object
 2   역명       13 non-null     object
 3   지번주소     13 non-null     object
 4   도로명주소    13 non-null     object
dtypes: object(5)
memory usage: 648.0+ bytes

In [131]:
# 필요 컬럼만 추출
add_gcl = add_gcl[['선명', '역명', '지번주소']].copy()
add_bl = add_bl[['선명', '역명', '지번주소']].copy()
add_sbl = add_sbl[['선명', '역명', '지번주소']].copy()
add_ul = add_ul[['선명', '역명', '지번주소']].copy()

In [132]:
# '구 '가 없는 데이터 확인
print('add_gcl', add_gcl[~add_gcl['지번주소'].str.contains('구 ')])
print('add_bl', add_bl[~add_bl['지번주소'].str.contains('구 ')])
print('add_sbl', add_sbl[~add_sbl['지번주소'].str.contains('구 ')])
print('add_ul', add_ul[~add_ul['지번주소'].str.contains('구 ')])

add_gcl     선명           역명                        지번주소
0   경춘  가평(자라섬·남이섬)         경기도 가평군 가평읍 달전리 567
1   경춘           갈매              구리시 갈매동 502-39
2   경춘           강촌     강원특별자치도 춘천시 남산면 방곡리 409
4   경춘   굴봉산(제이드가든)  강원특별자치도 춘천시 남산면 백양리 588-30
5   경춘           금곡        경기도 남양주시 금곡동 404-276
6   경춘          김유정    강원특별자치도 춘천시 신동면 증리 945-2
7   경춘     남춘천(강원대)               춘천시 퇴계동 633-2
8   경춘          대성리       경기도 가평군 청평면 대성리 393-3
9   경춘           마석     경기도 남양주시 화도읍 마석우리 222-2
11  경춘  백양리(엘리시안강촌)   강원특별자치도 춘천시 남산면 강촌리 680-7
12  경춘    별내(삼육대학교)          경기도 남양주시 별내동 182-5
13  경춘           사릉      경기도 남양주시 진건읍 사능리 605-3
15  경춘     상천(호명호수)      경기도 가평군 청평면 상천리 1260-1
18  경춘          천마산     경기도 남양주시 화도읍 묵현리 320-11
20  경춘           청평       경기도 가평군 청평면 청평리 125-1
21  경춘      춘천(한림대)         강원특별자치도 춘천시 근화동 190
22  경춘          퇴계원  경기도 남양주시 퇴계원면 퇴계원리 218-142
23  경춘         평내호평            경기도 남양주시 평내동 660
add_bl       선명    역명                   지번주소
9   수인분당    달월      경기도 시흥시 월곶동 662-3
14  수인분당  매탄권선      경기도 수원시 매탄동 687-4
37  수인분당    야목  경기도 화성시 매송면 야목리 792-2
39  수인분당    어천                어천리 411
44  수인분당   오이도        경기도 시흥시 정왕동 878
47  수인분당    월곶      경기도 시흥시 월곶동 992-9
52  수인분당    정왕    경기도 시흥시 정왕동 2325-12
add_sbl       선명    역명                   지번주소
9   수인분당    달월      경기도 시흥시 월곶동 662-3
14  수인분당  매탄권선      경기도 수원시 매탄동 687-4
37  수인분당    야목  경기도 화성시 매송면 야목리 792-2
39  수인분당    어천                어천리 411
44  수인분당   오이도        경기도 시흥시 정왕동 878
47  수인분당    월곶      경기도 시흥시 월곶동 992-9
52  수인분당    정왕    경기도 시흥시 정왕동 2325-12
add_ul Empty DataFrame
Columns: [선명, 역명, 지번주소]
Index: []

In [133]:
# '구 '가 있는 데이터만 남기기
add_gcl = add_gcl[add_gcl['지번주소'].str.contains('구 ')]
add_bl = add_bl[add_bl['지번주소'].str.contains('구 ')]
add_sbl = add_sbl[add_sbl['지번주소'].str.contains('구 ')]
add_ul = add_ul[add_ul['지번주소'].str.contains('구 ')]

In [134]:
print('add_gcl 행 수:', len(add_gcl))
print('add_bl 행 수:', len(add_bl))
print('add_sbl 행 수:', len(add_sbl))
print('add_ul 행 수:', len(add_ul))

add_gcl 행 수: 7
add_bl 행 수: 56
add_sbl 행 수: 56
add_ul 행 수: 13

In [135]:
import pandas as pd

# 데이터 처리 함수는 동일하게 유지
def process_address(df):
    # '구 ' 기준으로 분리
    split_address = df['지번주소'].str.split('구 ', expand=True)
    
    # 구분된 데이터가 없는 경우 처리
    df['city_and_gu'] = split_address[0].fillna('') + '구'
    df['dong'] = split_address[1].fillna('')
    
    # 컬럼 이름 변경 및 불필요한 컬럼 제거
    df = df.rename(columns={'선명': 'line', '역명': 'name'}).drop(columns=['지번주소'])
    
    return df

# add_1_8을 제외하고 처리할 데이터프레임 리스트
dfs_to_process = [add_gcl, add_bl, add_sbl, add_ul]

# 데이터프레임 처리
processed_dfs = [process_address(df) for df in dfs_to_process]

# 결과를 기존 변수에 다시 저장
add_gcl, add_bl, add_sbl, add_ul = processed_dfs

# 처리 결과 확인
for name, df in zip(['add_gcl', 'add_bl', 'add_sbl', 'add_ul'], processed_dfs):
    print(f"\n{name} columns:", list(df.columns))
    print(f"{name} shape:", df.shape)

add_gcl columns: ['line', 'name', 'city_and_gu', 'dong']
add_gcl shape: (7, 4)

add_bl columns: ['line', 'name', 'city_and_gu', 'dong']
add_bl shape: (56, 4)

add_sbl columns: ['line', 'name', 'city_and_gu', 'dong']
add_sbl shape: (56, 4)

add_ul columns: ['line', 'name', 'city_and_gu', 'dong']
add_ul shape: (13, 4)

In [136]:
# 각 데이터프레임의 컬럼 확인
print("add_1_3_4_else columns:", list(add_1_3_4_else.columns))
print("add_1_8 columns:", list(add_1_8.columns))
print("add_1_9 columns:", list(add_1_9.columns))
print("add_gcl columns:", list(add_gcl.columns))
print("add_bl columns:", list(add_bl.columns))
print("add_sbl columns:", list(add_sbl.columns))
print("add_ul columns:", list(add_ul.columns))

# 조건에 맞게 필터링 (에러 처리 포함)
def filter_seoul(df, name):
    try:
        if 'city_and_gu' in df.columns:
            filtered_df = df[df['city_and_gu'].str.startswith('서울', na=False)]
            print(f"{name} 필터링 완료: {len(filtered_df)}행")
            return filtered_df
        else:
            print(f"{name}에는 'city_and_gu' 컬럼이 없습니다")
            return df
    except Exception as e:
        print(f"{name} 처리 중 에러 발생: {e}")
        return df

# 각 데이터프레임 필터링
add_1_3_4_else = filter_seoul(add_1_3_4_else, "add_1_3_4_else")
add_1_8 = filter_seoul(add_1_8, "add_1_8")
add_1_9 = filter_seoul(add_1_9, "add_1_9")
add_gcl = filter_seoul(add_gcl, "add_gcl")
add_bl = filter_seoul(add_bl, "add_bl")
add_sbl = filter_seoul(add_sbl, "add_sbl")
add_ul = filter_seoul(add_ul, "add_ul")

add_1_3_4_else columns: ['line', 'name', 'city_and_gu', 'dong']
add_1_8 columns: ['line', 'name', 'city_and_gu', 'dong']
add_1_9 columns: ['line', 'name', 'city_and_gu', 'dong']
add_gcl columns: ['line', 'name', 'city_and_gu', 'dong']
add_bl columns: ['line', 'name', 'city_and_gu', 'dong']
add_sbl columns: ['line', 'name', 'city_and_gu', 'dong']
add_ul columns: ['line', 'name', 'city_and_gu', 'dong']
add_1_3_4_else 필터링 완료: 68행
add_1_8 필터링 완료: 262행
add_1_9 필터링 완료: 274행
add_gcl 필터링 완료: 7행
add_bl 필터링 완료: 14행
add_sbl 필터링 완료: 14행
add_ul 필터링 완료: 13행

In [137]:
# 각 데이터프레임에서 '서울'로 시작하는 행만 필터링
add_1_3_4_else = add_1_3_4_else[add_1_3_4_else['city_and_gu'].str.startswith('서울', na=False)]
add_1_8 = add_1_8[add_1_8['city_and_gu'].str.startswith('서울', na=False)]
add_1_9 = add_1_9[add_1_9['city_and_gu'].str.startswith('서울', na=False)]
add_gcl = add_gcl[add_gcl['city_and_gu'].str.startswith('서울', na=False)]
add_bl = add_bl[add_bl['city_and_gu'].str.startswith('서울', na=False)]
add_sbl = add_sbl[add_sbl['city_and_gu'].str.startswith('서울', na=False)]
add_ul = add_ul[add_ul['city_and_gu'].str.startswith('서울', na=False)]

# 결과 확인
print("필터링 후 각 데이터프레임의 행 수:")
print("add_1_3_4_else:", len(add_1_3_4_else))
print("add_1_8:", len(add_1_8))
print("add_1_9:", len(add_1_9))
print("add_gcl:", len(add_gcl))
print("add_bl:", len(add_bl))
print("add_sbl:", len(add_sbl))
print("add_ul:", len(add_ul))

# 샘플 데이터 확인 (선택사항)
print("\n각 데이터프레임의 처음 몇 행 확인:")
print("\nadd_1_3_4_else 샘플:")
print(add_1_3_4_else.head())

필터링 후 각 데이터프레임의 행 수:
add_1_3_4_else: 68
add_1_8: 262
add_1_9: 274
add_gcl: 7
add_bl: 14
add_sbl: 14
add_ul: 13

각 데이터프레임의 처음 몇 행 확인:

add_1_3_4_else 샘플:
  line name city_and_gu   dong
0  1호선  영등포  서울특별시 영등포구   영등포동
1  1호선  오류동     서울시 구로구    오류동
4  1호선   온수     서울시 구로구    온수동
6  1호선  외대앞  서울특별시 동대문구    이문동
7  1호선   용산      서울 용산구  한강로3가

In [138]:
# dong이 NaN인 행들 찾기
nan_dong = add_1_3_4_else[add_1_3_4_else['dong'].isna()]
nan_dong2 = add_1_8[add_1_8['dong'].isna()]

# 결과 출력
print("dong이 NaN인 행의 수:", len(nan_dong))
print("dong이 NaN인 행의 수:", len(nan_dong2))
print("\nNaN인 행들의 모든 정보:")
print(nan_dong)

dong이 NaN인 행의 수: 0
dong이 NaN인 행의 수: 0

NaN인 행들의 모든 정보:
Empty DataFrame
Columns: [line, name, city_and_gu, dong]
Index: []

In [139]:
# 첫 번째: 모든 데이터프레임 합치기
combined_df = pd.concat([add_1_3_4_else, add_1_8, add_1_9, add_gcl, add_bl, add_sbl, add_ul])

# 두 번째: name을 기준으로 중복 제거하되, 첫 번째 발견된 값 유지
final_df = combined_df.drop_duplicates(subset=['name'])

# 결과 정렬 (필요한 경우)
final_df = final_df.sort_values(['line', 'name']).reset_index(drop=True)

# 결과 확인
print("최종 데이터프레임 크기:", final_df.shape)
print("\n처음 10개 행:")
print(final_df.head(10))

# 컬럼별 null 값 확인
print("\n각 컬럼의 null 값 개수:")
print(final_df.isnull().sum())

# 중복 확인
print("\n역명 당 행 개수:")
print(final_df['name'].value_counts().head())

최종 데이터프레임 크기: (340, 4)

처음 10개 행:
  line     name city_and_gu  dong
0  1호선  가산디지털단지   서울특별시 금천구   가산동
1  1호선       개봉   서울특별시 구로구   개보동
2  1호선       구로   서울특별시 구로구   구로동
3  1호선       구일     서울시 구로구  구로1동
4  1호선     금천구청   서울특별시 금천구  시흥대로
5  1호선       남영   서울특별시 용산구   갈월동
6  1호선      노량진   서울특별시 동작구  노량진동
7  1호선       녹천   서울특별시 도봉구    창동
8  1호선       대방  서울특별시 영등포구   신길동
9  1호선       도봉     서울시 도봉구  도봉2동

각 컬럼의 null 값 개수:
line           0
name           0
city_and_gu    0
dong           0
dtype: int64

역명 당 행 개수:
name
가산디지털단지       1
새절(신사)        1
응암            1
월드컵경기장(성산)    1
월드컵경기장        1
Name: count, dtype: int64

In [ ]:
add_1_3_4_else
add_1_8
add_1_9
add_gcl
add_bl
add_sbl
add_ul

In [ ]:
station_2015
station_2016
station_2017
station_2018
station_2019
station_2020
station_2021
station_2022
station_2023
station_2024